In [1]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([1,2,7,9, np.nan,2])
s

0    1.0
1    2.0
2    7.0
3    9.0
4    NaN
5    2.0
dtype: float64

In [7]:
dates = pd.date_range('6/20/2017',periods=7)
dates

DatetimeIndex(['2017-06-20', '2017-06-21', '2017-06-22', '2017-06-23',
               '2017-06-24', '2017-06-25', '2017-06-26'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(7,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2017-06-20  0.628819  1.096635  0.300309  0.073086
2017-06-21  0.191053 -0.646978 -0.412702  0.088614
2017-06-22  1.067190  0.111592  1.587747  0.096650
2017-06-23  0.907350  0.387337 -0.628237  0.996679
2017-06-24  1.463700 -1.393691  0.532242 -0.054026
2017-06-25  1.088259  0.116078  0.380546 -0.773378
2017-06-26 -0.560111 -0.011258 -0.549035  0.313024

In [9]:
df.head()

                   A         B         C         D
2017-06-20  0.628819  1.096635  0.300309  0.073086
2017-06-21  0.191053 -0.646978 -0.412702  0.088614
2017-06-22  1.067190  0.111592  1.587747  0.096650
2017-06-23  0.907350  0.387337 -0.628237  0.996679
2017-06-24  1.463700 -1.393691  0.532242 -0.054026

In [10]:
df.tail(3)

                   A         B         C         D
2017-06-24  1.463700 -1.393691  0.532242 -0.054026
2017-06-25  1.088259  0.116078  0.380546 -0.773378
2017-06-26 -0.560111 -0.011258 -0.549035  0.313024

In [11]:
df['A']

2017-06-20    0.628819
2017-06-21    0.191053
2017-06-22    1.067190
2017-06-23    0.907350
2017-06-24    1.463700
2017-06-25    1.088259
2017-06-26   -0.560111
Freq: D, Name: A, dtype: float64

In [12]:
df['A'].values

array([ 0.62881901,  0.19105282,  1.06719043,  0.90735019,  1.46369995,
        1.08825855, -0.56011116])